{{!-- {{This is the graph page handlebars}} --}}

<link rel="stylesheet" href="/public/reports.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{{!-- {{Navigation bar}} --}}

<nav id="nav" class="navbar navbar-expand-lg navbar-dark" style="background-color: #365731;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" style="font-size: 20px" href="./">Home</a>

      <li class="nav-item active">
        <a class="nav-link" style="font-size: 20px" href="./graph">Reports</a>
      </li>
      <a class="nav-link" style="font-size: 20px" href="./settings">Settings</a>

    </ul>
             <IMG SRC="../public/logo.PNG" ALT="some text" WIDTH=50 HEIGHT=50>

  </div>
</nav>
 <div id="page-container">
   <div id="content-wrap">

{{!-- {{Header}} --}}
<h4 id="date"> Reports</h4>
<hr>

{{!-- {{Graph2}} --}}
<div style="width: 20%;text-align:center;margin:0 auto; display:block;">
  <canvas id="myChart2" height="550" width="700"></canvas>
  <script>
    //pie chart data
    //options
    var options = {
      responsive: true,
      title: {
        display: true,
        position: "top",
        text: "Pie Chart",
        fontSize: 18,
        fontColor: "#111"
      },
      legend: {
        display: true,
        position: "bottom",
        labels: {
          fontColor: "#333",
          fontSize: 16
        }
      }
    };
    var data1 = {
      labels: ["pass", "fail"],
      datasets: [
        {
          label: "Pass vs. Fail",
          data: [{{ pieArr }}],
      backgroundColor: [
        "#2ec973",
        "#DC143C",
      ],
      borderColor: [
        "#2ec973",
        "#CB252B",
      ],
      borderWidth: [1, 1]
    }
      ]
    };
    var ctx = document.getElementById('myChart2');
    ctx.style.backgroundColor = 'rgba(255,255,255, 8)';
    var myChart2 = new Chart(ctx, {
      type: 'pie',
      data: data1,
      options: options
    });
  </script>
</div>
<br />

<script>
  $(document).ready(function () {
    console.log($("#lmao").text())
  })
  $('#graph-info').click(function () {
    $.ajax({
      type: 'POST',
      url: "/graph/test",
      data: {},
      success: function (data) {
        console.log('success')
      },
      error: function (data, error, xhr) {
        console.log('error')
      },
      dataType: 'json'
    });
  });
</script>



{{!-- {{Footer}} --}}
</div>
   <footer id="footer">
      <p style="margin:7px">The Gaiters <br>
      <a href="https://github.com/podkolzinmir/Dashboard">gaiters@stevens.edu</a></p> 
  </footer>
</div>
