{{!-- {{This is the settings page handlebars}} --}}

<link rel="stylesheet" href="/public/settings.css">


{{!-- {{Navigation bar}} --}}
<nav id="nav" class="navbar navbar-expand-lg navbar-dark" style="background-color: #365731;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" style="font-size: 20px" href="./">Home</a>
      <a class="nav-link" style="font-size: 20px" href="./graph">Reports</a>

      <li class="nav-item active">
        <a class="nav-link" style="font-size: 20px" href="./settings">Settings</a>
      </li>
    </ul>
         <IMG SRC="../public/logo.PNG" ALT="some text" WIDTH=50 HEIGHT=50>

  </div>
</nav>

 <div id="page-container">
   <div id="content-wrap">

{{!-- {{Header}} --}}
<h4 id="date"> Settings - Test Criteria</h4>
<hr>

<body>
<div class="middle">
  {{!-- {{Slider 1}} --}}
  <div class="slidecontainer">
    <p class="slider"> Number of masks detected </p>
    <p id="num" class="slider"> <span id="demo"></span></p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
  </div>

  <script>
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    slider.oninput = function () {
      output.innerHTML = this.value;
    }
  </script>

  {{!-- {{Slider 2}} --}}
  <div class="slidecontainer">
    <p class="slider"> Number of people detected </p>
    <p id="num" class="slider"> <span id="demo2"></span></p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange2">
  </div>

  <script>
    var slider2 = document.getElementById("myRange2");
    var output2 = document.getElementById("demo2");
    output2.innerHTML = slider2.value;

    slider2.oninput = function () {
      output2.innerHTML = this.value;
    }
  </script>

  {{!-- {{Slider 3}} --}}
  <div class="slidecontainer">
    <p class="slider"> Average space (ft) </p>
    <p id="num" class="slider"> <span id="demo3"></span></p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange3">
  </div>

  <script>
    var slider3 = document.getElementById("myRange3");
    var output3 = document.getElementById("demo3");
    output3.innerHTML = slider3.value;

    slider3.oninput = function () {
      output3.innerHTML = this.value;
    }
  </script>

  {{!-- {{Slider 4}} --}}
  <p class="slider"> No. Groups/hour </p>
  <div class="slidecontainer">
    <p id="num" class="slider"> <span id="demo4"></span></p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange4">
  </div>

  <script>
    var slider4 = document.getElementById("myRange4");
    var output4 = document.getElementById("demo4");
    output4.innerHTML = slider4.value;

    slider4.oninput = function () {
      output4.innerHTML = this.value;
    }
  </script>

  {{!-- {{Slider 5}} --}}
  <div class="slidecontainer">
    <p class="slider"> No. Violations/hour </p>
    <p id="num" class="slider"> <span id="demo5"></span></p>
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange5">
  </div>

  <script>
    var slider5 = document.getElementById("myRange5");
    var output5 = document.getElementById("demo5");
    output5.innerHTML = slider5.value;

    slider5.oninput = function () {
      output5.innerHTML = this.value;
    }
  </script>
</div>
</body>

{{!-- {{
<button id="settings-info">Settings Test</button>
<script>
  $('#settings-info').click(function () {
    $.ajax({
      type: 'POST',
      url: "/settings/test",
      data: {},
      success: function (data) {
        console.log('success')
      },
      error: function (data, error, xhr) {
        console.log('error')
      },
      dataType: 'json'
    });
  });
</script>  }} --}}

</div>
   <footer id="footer">
      <p style="margin:7px">The Gaiters <br>
      <a href="https://github.com/podkolzinmir/Dashboard">gaiters@stevens.edu</a></p> 
  </footer>
</div>
